<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>

	<connectionStrings>
		<add name="cadena" connectionString="Data Source=DESKTOP-RQHLETS\SQLEXPRESS;Initial Catalog=master;Integrated Security=True; MultipleActiveResultSets=true"/>
	</connectionStrings>
	
</configuration>
